certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
et-xmlfile==1.1.0
exrex==0.11.0
idna==3.6
numpy==1.26.4
openpyxl==3.0.10
pandas==2.2.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
requests-futures==1.0.1
six==1.16.0
stem==1.8.2
torrequest==0.1.0
tzdata==2024.1
urllib3==2.2.1
